@model Review

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string title = "Title";
    if (ViewBag.bookTitle != null)
    {
        title = ViewBag.bookTitle;
    }
}

<h1>Create</h1>

<h4>Review</h4>
<hr />
<img src="~/lib/book-covers/@(ViewBag.bookImg).jpg" alt="@title" width="150" height="200">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-route-userName="@ViewBag.userName">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookTitle">@title</label>
                <input asp-for="BookTitle" class="form-control" />
                <span asp-validation-for="BookTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookRating" class="control-label"></label>
                <input asp-for="BookRating" class="form-control" />
                <span asp-validation-for="BookRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
