@model CommunityLibrary.Models.Report

@{
    ViewData["Title"] = "Report Reviewer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Report</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-route-ReportedUserName="@ViewBag.reportedUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Reason" class="control-label"></label>
                <select id="select" asp-for="Reason">
                    <option value="1">Troll</option>
                    <option value="2">Explicit Language</option>
                    <option value="3">Cyber Bullying</option>
                    <option value="4">Failure To Return</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Review" asp-action="Index">Back to Reviews</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
